#-f https://download.pytorch.org/whl/torch_stable.html

#pika==1.2.0
# python-logstash==0.4.6

# kafka-python==2.0.2
# boto3==1.17.75

pandas==1.2.4
# scikit-learn==0.24.2

# beautifulsoup4==4.9.3
# email_reply_parser==0.5.12

# pytest==6.2.4
# sendgrid==6.7.0
# configobj==5.0.6

# python-logstash==0.4.6

# flower==0.9.5s
# pyrabbit==1.1.0
#gdown==4.3.0

# googletrans==3.1.0a0
# pycld2==0.41

#nltk==3.6.2
#torch==1.7.1+cpu
#transformers==4.2.2

#ay